<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ('../partials/head.ejs') %>
</head>

<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>




    <div class="center">
        <div class="show-header">
            <h1>Garden Index Page</h1>
        </div>
        <div class="show">
            <ul>
                <% for (let garden of gardens ) { %>
                    <li>
                        <div>
                            <a href="/plants/<%=garden._id%>" class="button">
              Show  <%= garden.gardenName %> </a>
                            <a href="/plants/<%=garden._id%>/edit" class="button">
                Edit  <%= garden.gardenName %> </a>
                            <form action="/plants/<%= garden._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn1">Delete  <%= garden.gardenName %> </button>
                            </form>
                        </div>
                        <br/>
                    </li>


                    <% } %>
            </ul>


        </div>

    </div>
    </form>
</body>

</html>