<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
   
      <div class="form-header">
        <h1> My hardness zone</h1>
      </div>

        <!-- form body -->
        <div class="form-body">
          
           
                 <%= list.zone %>
                  <%= list.coordinates %>
                  <%= list.temperature_range %>
              
              
 
  </body>
</html>
