<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="center">
      <div class="banner">
        <h1> My hardness zone</h1>
      </div>

        <!-- form body -->
        <div class="show">
            <br/>
        Hardness Zone:  <%= list.zone %> <br/>
        Coordinates  Latitude <%= list.coordinates.lat %> 
        <br/>        Longitude  <%= list.coordinates.lon %> <br/>
        Temperature Range: <%= list.temperature_range %>
        <br/>
        State Code: <%= code%> 
        <br/>
        State Name:  <%= stateName%> 
         </div>
        </div>      
 
  </body>
</html>
